@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #231f20;
  --color-text: #FAEBD7;
  --color-textSecondary: #90a1b9;
  --color-darkGreen: #14674C;
  --color-lightGreen: #A8DAB5;
  --color-brand-secondary: #2a2626;
}

/* Custom utility classes */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}